.compare-bottom {
    row-gap: 48px;
}

.compare-selects {
    gap: 24px;
}

.compare-class {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.compare-class h5 {
    color: var(--gray-600);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 48px;
    margin-bottom: 32px;
}

.val {
    color: var(--primary);
    font-size: 32px;
    font-weight: 700;
}

.summary-total .row {
    gap: 30px;
}

.summary-total .row .full-width {
    margin-bottom: 24px;
}

.summary-total .row.charts {
    gap: 24px;
}

.summary-total .row fieldset {
    padding: 24px 8px;
}