#top-nav {
    /* background-color: var(--gray-100); */
    color: var(--primary);
    width: 100%;
    padding: 24px 48px 24px;
    justify-content: flex-end;
}

#logo {
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 8px;
}

#brand-name {
    font-weight: 700;
}

.top-link {
    color: white;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--primary);
}

.dropdown-menu[data-bs-popper] {
    left: -10%;
    padding: 10px;
}

.dropdown-item:hover {
    background-color: var(--primary);
    color: white;
}

#nav-email {
    font-size: 13px;
}

#side-nav {
    background-color: var(--gray-100);
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
    padding: 48px 32px 48px 0;
    position: fixed;
    z-index: 100;
}

.side-link {
    border-radius: 0 32px 32px 0;
    font-weight: 700;
    margin: 0 0 4px;
    padding: 12px 20px 12px 20px;
    text-align: left;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border 0.4s;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--primary);
    border-left: 6px solid transparent;
}

.side-link i {
    font-size: 20px;
    margin-right: 16px;
    color: inherit;
}

.side-link:hover {
    background-color: rgb(201, 240, 193);
    color: var(--primary);
    border-left: 6px solid;
}

.side-link:focus {
    background-color: var(--primary);
    color: var(--neutral);
}

.side-link.active {
    color: var(--neutral);
    background-color: var(--primary);
    border-left: 6px solid transparent;
    padding-left: 20px;
}

.nav-pills {
    /* margin-top: 40px; */
    gap: 8px;
}

.nav-pills li ul {
    padding-left: 30px;
    padding-top: 10px;
    display: none;
}

.nav-pills li ul {
    padding-left: 30px;
    padding-top: 0px;
    display: none;
}

.nav-pills li ul .side-link {
    border-radius: 32px;
    border-left: 0;
    margin-bottom: 4px;
    padding: 12px 36px;
    height: 40px;
}

.nav-pills li ul .side-link #notify {
    left: 28px;
    width: auto;
    height: auto;
    padding: 2px 5px;
}

.nav-pills li ul .side-link::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid;
    border-bottom: 4px solid transparent;
    margin-right: 8px;
    display: inline-block;
}

.nav-pills li .side-link.active~ul {
    display: block;
}

ul.dropdown-menu {
    display: none;
}