@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('bootstrap.min.css');
@import url('nav.css');
@import url('view.css');
* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none !important;
    list-style: none;
}

body,
html {
    box-sizing: border-box;
    position: relative;
    font-family: 'Nunito', sans-serif !important;
    font-size: 14px;
    color: var(--bs-dark);
    background-color: var(--bs-white);
}

#cover {
    height: 100vh;
    margin: auto;
    max-width: 900px;
    padding: 0 5%;
    width: 100%;
}

#mainContainer {
    box-shadow: 0px 4px 20px 18px rgba(0, 0, 0, 0.06);
    height: 70%;
    min-height: 480px;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-gray-300);
}

h3 {
    font-size: 18px;
    font-weight: 900;
    /* font-family: 'PT Sans', sans-serif !important; */
}

#main,
#imgBox {
    height: 100%;
    width: 50%
}

#imgBox img {
    height: 100%;
    width: 100%;
    /* border-radius: 20px; */
}

.custom-form {
    display: block;
    width: 100%;
    padding: 12px 12px 12px;
    padding-left: 0;
    font-size: 13px;
    font-weight: 600;
    color: var(--bs-body-color);
    outline: 0 !important;
    border: none;
    border-bottom: 1px solid var(--bs-gray-300);
    background-color: transparent;
}

.custom-form:focus-visible {
    background-color: var(--bs-gray-200);
    border-color: transparent;
}

.custom-form::placeholder {
    color: var(--bs-gray-500);
    font-weight: 500;
}

.form-content {
    padding: 60px 40px;
}

.form-label {
    font-size: 13px;
    font-weight: 800;
    color: var(--bs-green);
    letter-spacing: 0.1px;
    margin-bottom: 0;
    display: inline-block;
}

.form-label span {
    font-size: 10px;
    font-weight: 700;
}

.custom-btn {
    color: var(--bs-white);
    width: auto;
    padding: 15px 48px;
    border-radius: 6px;
    background-image: linear-gradient(to right, var(--bs-green) 0%, var(--bs-teal) 51%, var(--bs-green) 100%);
    background-size: 200% auto;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* text-transform: uppercase; */
    display: inline-block;
    top: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 14px;
    height: fit-content;
}

.custom-btn.secondary {
    border: 1px solid var(--bs-teal);
    background-image: linear-gradient(to right, #bfefe1 0%, #ffffff 51%, #bfefe1 100%);
    color: var(--bs-green);
}

.custom-btn.secondary:hover {
    color: var(--bs-green);
}

.custom-btn:focus {
    box-shadow: none;
}

.custom-btn:hover {
    color: var(--bs-white);
    background-position: right center;
    top: -1px;
}

.contact {
    color: #7a7a7a
}

#forgotPass {
    text-decoration: none;
    color: var(--bs-purple);
    font-weight: 700;
    font-size: 11px;
}

#forgotPass:hover {
    text-decoration: underline;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.rem {
    width: 100%;
}

@media (max-width: 768px) {
    #imgBox {
        display: none;
    }
    #main {
        margin: auto 0;
        width: 100%
    }
}