@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* @import url('bootstrap.min.css'); */

@import url('nav.css');
@import url('view.css');
@import url('texts.css');
@import url('inputs.css');
@import url('login.css');
@import url('table.css');
@import url('compare.css');
:root {
    --neutral: #fff;
    --secondary: #000;
    --accent: #f4f4f4;
    --ink: #5e5e5e;
    --links: #006ba7;
    --placeholders: #909090;
    --danger: #d90606;
    --notify: #f02e2e;
    --background-circles: #1d1d1d;
    --descriptions: #7a7a7a;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;
    --primary-100: #008000;
    --primary-200: #12eb90;
    --primary-300: #08d57f;
    --primary-400: #05be70;
    --primary: #049a5d;
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

html,
body {
    width: 100%;
    background: var(--neutral);
    scroll-behavior: smooth;
    color: var(--gray-800);
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px;
}

body {
    overflow-x: hidden;
    padding-left: 20%;
}

body#login {
    padding-left: 0;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.align-content-end {
    align-items: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

#mainContainer {
    box-shadow: 0px 4px 20px 18px rgb(0 0 0 / 6%);
    height: auto;
    min-height: auto;
    width: auto;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--neutral);
    border: 1px solid var(--accent);
    padding-top: 38px;
}

#main {
    height: 100%;
    width: 100%;
}

.description {
    color: var(--descriptions);
    margin-top: 4px;
}

#animation-image {
    width: 64px;
    margin: 0 auto;
    display: block;
}

span#toggle-pass {
    position: absolute;
    bottom: 0;
    left: unset;
    right: 0;
    cursor: pointer;
    top: unset;
    padding: 8px;
    font-size: 20px;
    transition: 0.6s color;
    color: var(--placeholders);
}

span#toggle-pass:hover {
    color: var(--secondary);
}

.wrapper {
    /* height: 100vh; */
    width: 100%;
    gap: 0;
}

.top-title {
    gap: 48px;
    padding: 24px 0;
}

.top-title>* {
    flex-basis: fit-content;
    width: fit-content;
}

.top-title>div {
    width: 75%;
}

.top-title>a {
    flex-grow: 0;
}

.full-width {
    width: 100%;
}

.full-width.mid-content {
    margin-bottom: 12px;
}

.width-50 {
    width: 50%;
}

.content-box {
    margin: 0;
    width: 100%;
    padding: 0px 0 72px;
    overflow-y: auto;
    left: 0;
    height: 100%;
}

.content {
    padding: 24px 40px;
}

hr {
    color: var(--gray-100);
    display: inline-block;
    width: 100%;
    margin: 16px 0;
    border: none;
    border-top: 1px solid;
}

.text-align-center {
    text-align: center;
}

.v30h {
    height: 30vh;
}

.v40h {
    height: 40vh;
}

.v50h {
    height: 50vh;
}

.v60h {
    height: 60vh;
}

.v70h {
    height: 70vh;
}

.v80h {
    height: 80vh;
}

.v90h {
    height: 90vh;
}

.v100h {
    height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.7);
    height: 100%;
    z-index: 1000000;
}

.modal-content {
    padding: 48px;
    width: 36%;
    display: inline-block;
    background-color: var(--neutral);
    border-radius: 12px;
}

.modal-content-cta {
    margin-top: 24px;
    gap: 12px;
}

.modal-content-cta .btn {
    padding-left: 32px;
    padding-right: 32px;
}

.fadeOut {
    opacity: 0 !important;
    transition: 0.6s;
}

.hidden {
    display: none !important;
}

.notice {
    color: var(--gray-600);
    line-height: 20px;
}

.notice a {
    text-decoration: underline;
}

.notice i {
    font-size: 128px;
    margin-bottom: 24px;
    /* color: var(--background-circles); */
    color: var(--primary);
}

span#notify {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    color: var(--neutral);
    align-self: center;
    left: 100px;
    background: var(--notify);
    font-size: 11px;
    font-weight: 700;
    padding: 0;
}

.subtitle {
    padding: 20px 24px;
    background: rgb(215, 252, 220);
    border-radius: 8px;
    margin-top: 16px;
    width: 100%;
    color: var(--primary);
    font-weight: 500;
    line-height: 24px;
    font-size: 13px;
}

.d-block {
    display: block;
    width: 100%;
}