table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 900px;
    width: 100%;
    /* box-shadow: 0px 4px 11px 3px rgb(0 0 0 / 6%); */
    /* border-radius: 12px; */
    overflow: hidden;
}

thead {
    background-color: var(--white);
    color: var(--dark);
    font-weight: 800;
}

th {
    text-align: left;
    padding: 24px 20px;
    color: var(--primary);
    /* border-bottom: 1px solid var(--gray-200); */
    margin-bottom: 24px;
    background: var(--gray-200);
    text-transform: uppercase;
}

th:first-child,
td:first-child {
    padding-left: 36px;
}

th:last-child {
    border-radius: 0 5px 5px 0;
}

th:first-child {
    border-radius: 5px 0 0 5px;
}

td {
    text-align: left;
    padding: 16px 32px 16px;
    vertical-align: middle;
    border-bottom: 1px solid var(--gray-100);
}

tr:last-child td {
    padding-bottom: 24px;
}

tr:first-child td {
    padding-top: 20px;
}

tbody tr:hover {
    background: var(--gray-100);
}

tbody tr {
    transition: 0.6s;
}

tbody tr:nth-child(even) td:first-child {
    /* border-radius: 36px 0 0 36px; */
}

tbody tr:nth-child(even) td:last-child {
    /* border-radius: 0 36px 36px 0; */
}

.action:last-child {
    margin-right: 0;
}

.action2 {
    background-color: var(--green);
}

.action {
    border: 1px solid var(--primary);
    border-radius: 25px;
    padding: 7px 24px;
    text-decoration: none;
    background-color: #d7fcdc;
    color: var(--primary);
    display: inline-block;
    margin-right: 10px;
    transition: background 0.4s, color 0.4s;
}

.action:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--neutral);
}

table h5 {
    color: var(--gray-800);
}

table p {
    font-size: 12px !important;
    font-weight: 700 !important;
    color: var(--gray-700);
    text-transform: capitalize;
}

table h5 span {
    font-size: 12px;
    display: block;
    color: var(--gray-600);
    margin-top: 2px;
}