.h0 {
    font-size: 64px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

span.description {
    color: var(--gray-600);
    display: block;
    font-style: italic;
}

span.description span {
    font-weight: 800;
    font-style: normal;
}

h2,
.h2 {
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

h4,
.h4 {
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

h5,
.h5 {
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

h6,
.h6 {
    font-size: 8px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
}

.p0 {
    font-size: 64px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p1 {
    font-size: 48px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p2 {
    font-size: 32px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p3 {
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.paragraphsdescriptions {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p4 {
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p5 {
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}

.p6 {
    font-size: 8px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}