.p-name {
    color: gray;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 400;
    /* text-decoration: underline; */
}

.p-data {
    color: green;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 600;
}

.details {
    display: inline-block;
    width: 48%;
}

.metric {
    font-size: 14px;
}

.bar {
    border-radius: 1px;
    height: 30px;
    width: 90%;
}

.circular-progress {
    position: relative;
    height: 240px;
    margin: 0 auto;
    width: 240px;
    background-color: #eee;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 84%;
    width: 84%;
    background-color: #fff;
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-size: 50px;
    color: #231c3d;
}

.hidden {
    display: none;
}

.rank {
    color: green;
    font-size: 25px;
    font-weight: 600;
}

.tiny {
    font-size: 20px;
    font-weight: 400;
}

.selections {
    font-size: 16px;
    font-weight: 600;
}

.v-btn {
    background-color: #fff;
    border: 1px solid green;
    border-radius: 0.3rem;
    color: green;
    margin: 30px 0;
    padding: 8px 12px;
    text-decoration: none;
    height: 42px;
}

.v-btn:hover {
    background-color: green;
    color: white;
}

.remove {
    border: 1px solid red;
    color: red;
}

.remove:hover {
    background-color: red;
    color: white;
}

.delete {
    background-color: red;
    border: 1px solid rgb(235, 2, 2);
    color: white;
    border-radius: 0.3rem;
    margin: 30px 0;
    padding: 8px 12px;
}

.delete:hover {
    background-color: rgb(226, 4, 4);
    color: white;
}

@media (max-width: 768px) {
    .cat-set,
    .v-btn,
    .assess-cat,
    .proj-info,
    .title {
        text-align: center;
    }
    .v-btn,
    .delete {
        width: 100%;
    }
    .vbuttons,
    .first3 {
        flex-direction: column;
    }
    .p-score {
        margin-top: 40px;
    }
    hr {
        margin: 0 auto;
        width: 90%;
    }
    .title {
        margin-bottom: 30px;
    }
}